* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0px solid #554a59;
  font-family: "Bebas Neue", sans-serif;
}

.jogador,
.computador {
  display: flex;
  flex-direction: column;
  border: 4px solid #fff7db;
  border-radius: 80px;
  gap: 32px;
  padding: 3rem;
  background-color: #ffeeb6;
  height: 34rem;
  width: 29rem;
}

.jogador,
.jogador button {
  color: #fd9860;
  align-items: center;
}

.computador,
.computador button {
  color: #f0cc51;
  align-items: center;
}

body {
  background-image: url("fundo.jpg");
  background-size: 1600px;
  padding: 3rem;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 32px;
  gap: 80px;
}

.x {
  color: #912139;
  font-size: 128px;
}

.pontuacaoJogador,
.pontuacaoComputador {
  color: #912139;
  font-size: 32px;
}

.regras {
  color: #912139;
  border: 2px solid #ffeeb6;
  border-radius: 32px;
  background-color: #ffeeb6;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  height: 8rem;
  width: 70rem;
  text-align: center;
}

#modal {
  padding: 1rem 2rem;
  background-color: #b8dcd2;
  border-radius: 20px;
  font-size: 48px;
  color: #554a59;
  filter: drop-shadow(0 00 20px #b8dcd2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .jogo {
    flex-direction: column;
    gap: 8px;
    padding: 0;
    width: 90vw;
  }
  .jogador,
  .computador {
    padding: 16px;
    width: 100%;
    height: auto;
  }

  .x {
    font-size: 28px;
  }

  .regras {
    display: none;
  }
}
